<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.situOA.work.mapper.IProductMapper">
	<resultMap type="com.situ.situOA.work.model.ProductInfoModel"
		id="baseResult">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="sum" property="sum" />
		<result column="cost" property="cost" />
	</resultMap>

	<sql id="select">
		*
	</sql>

	<sql id="where">
		where 1=1
		<if test="id!=null">
			and a.id=#{id}
		</if>
		<if test="name!=null and name!=''">
			and a.name="%${name}%"
		</if>
		<if test="code!=null and code!=''">
			and a.code=#{code}
		</if>
	</sql>

	<sql id="limit">
		limit ${row},${limit}
	</sql>

	<insert id="insert" parameterType="Object">
		insert into
		product_info(code,name,sum,cost)
		values(#{code},#{name},#{sum},#{cost})
	</insert>

	<update id="deleteModel" parameterType="Object">
		delete from product_info
		where id=#{id}
	</update>

	<update id="delete">
		delete from product_info
		where id in
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</update>

	<update id="update" parameterType="Object">
		update product_info set
		name=#{name},sum=#{sum},cost=#{cost}
		where id=#{id}
	</update>

	<update id="updateActive" parameterType="Object">

	</update>

	<select id="select" parameterType="Object"
		resultMap="baseResult">
		select
		<include refid="select" />
		from product_info a
		<include refid="where" />
	</select>

	<select id="selectAll" parameterType="Object"
		resultMap="baseResult">
		select
		<include refid="select" />
		from product_info a
		<include refid="where" />
	</select>

	<select id="selectModel" parameterType="Object"
		resultMap="baseResult">
		select
		<include refid="select" />
		from product_info a
		<include refid="where" />
		<include refid="limit" />
	</select>

	<select id="count" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from product_info a
		<include refid="where" />
	</select>
</mapper>